body {
  background-color: #8ad1ef;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  border-style: none;
  color:whitesmoke
}
input {
  height: 20px;
}